OPENSEARCH_URL=http://localhost:9200
INDEX_NAME=skb
EMBEDDING_MODEL_NAME=distiluse-base-multilingual-cased-v1
AWS_MODEL_ID=eu.amazon.nova-2-lite-v1:0
AWS_MODEL_TRANSLATION_ID=eu.amazon.nova-lite-v1:0
AWS_REGION=eu-central-1
DEBUG=true
NOTION_KB_URL=https://www.notion.so/....
NOTION_WORKSPACE_SLUG=...
NOTION_CAPTION_IMAGES=false
SENTRY_ACCESS_TOKEN=
LINEAR_TEAM=...